*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}
/* // Topnav  */
.topnavicon{
  transition: 2s;
}
.topnavicon:hover{
  color: black !important;
}
/* // navtwo  */
.nav-link{
  color: rgb(3 4 126) !important;
  transition: 1s;
}
.nav-link:hover{
  color: red !important;
}
#navcloseicon{
  transition: 1s;
  color: white;
}
#navcloseicon:hover{
  color: red;
  transform: rotate(90deg);
}
/* // bottomcarsoual  */
.bottomcarsoualbg{
  transition: 2s;
}
.bottomcarsoualbg:hover{
  background-color: red !important;
}
.bottomcarsoualbgp a{
  /* color:  rgb(2, 2, 49); */
  transition: 1s;
}
.bottomcarsoualbgp a:hover{
  color: red !important;
}


@media  (min-width: 990px) {
  #sidenav{
    display: none;
    visibility: hidden ;
  }
}
@media  (max-width: 991px) {
  .topnav{
    display: none;
  }
  #navtwoicon{
    display: block !important;
    font-size: 5vw;
  }
  #sidenav{
    visibility: hidden ;
    display: block;
  }
  .carousel-item .carsoualbg{
    height: 70vh !important;
    object-fit: cover;
  }
  .carsoualalign{
    height: 100vh !important;
  }
  .carsoualpara{
    font-size: 7vw !important;
  }
  .carsoualhfour{
    font-size: 11vw !important;
    width: 100% !important;
  }
  .carsoualclient1{
    width: 10vw !important;
    height: 10vw !important;
  }
  .carsoualclient{
    width: 10vw !important;
    height: 10vw !important;
    margin-left: -6vw !important;
  }
  .carsoualhthree{
    font-size: 4vw !important;
  }
  .carsoualalign{
    margin-top: -20vw !important;
  }
  .carsoualtop{
    display: none !important;
  }
  /* // bottomcarsoual  */
  .bottomcarsoualbg i{
    font-size: 15vw !important;
  }
  .bottomcarsoualbg p{
    font-size: 4vw !important;
  }
  .bottomcarsoualbgp p{
    font-size: 4vw !important;
  }
  /* // roffing  */
  .roofing img{
    width: 100% !important;
    object-fit: cover;
  }
  .roffingjquery{
    width: 100% !important;
  }
  .roffingdtwo h4{
    font-size: 1rem;
  }
  .roofingdivtwoimg{
    width: 20vw !important;
    height: 20vw !important;
    border-radius: 300px !important;
    margin-right: 2vw !important;
  }
  .roofingdivtwoimgt{
    margin-left: -12vw !important;
  }
  .roffingdtwo{
    flex-direction: column;
  }
  /* //providing  */
  .providingg {
    flex-direction: column;
  }
  /* .providingg h2{
    display: block !important;
  }
  .providingg h2{
    display: block !important;
  } */

  .providingscrollflexx div{
    width: 20vw !important;
    height: 20vw !important;
    margin-left: 5vw;
  }
  .providingscrollflexx i{
    font-size: 4vw !important;
  }
  .providingscrollflexx h4{
    font-size: 2vw !important;
  }
  .providingbox i{
    padding-left: 8vw !important;
    padding-right: 8vw !important;
  }
  .providingscrollflex{
    overflow-x: scroll !important;
    overflow-y: hidden;
    
  }
  
  
}
